.container {
  padding: 0 2rem;
  width: 90%;
  margin: 0 auto;

  p {
    font-size: 1rem;
  }

  .imgContainer {
    margin: 0 auto;
    position: relative;
    img {
      width: 20rem;
      animation: floatVertical 3s ease-in-out infinite;
    }

    .shadow {
      position: absolute;
      top: 3rem;
      left: 1rem;
      z-index: -1;
      height: 90%;
      width: 15rem;
      background: linear-gradient(
        318deg,
        rgba(8, 60, 47, 1) 0%,
        rgba(189, 234, 85, 1) 81%
      );
      border-radius: 2rem;
      box-shadow: 0 2px 8px var(--text);
    }
  }
  
  .buttonDiv {
    align-self: flex-start;
    display: flex;
    background-color: var(--text);
    padding: 0.15rem 1rem;
    padding-right: 0.1rem;
    border-radius: 2rem;
    gap: 0.25rem;
    color: white;

    button {
      font-size: 0.95rem;
    }

    span {
      background-color: var(--white);
      color: var(--text);
      padding: 0.5rem;
      border-radius: 50%;
      transform: rotate(-40deg);
      transition: transform 0.3s ease;
    }

    &:hover span {
      transform: rotate(0deg);
    }
  }
}

@keyframes floatVertical {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
