.container {
  width: 95%;
  margin: 5rem auto;
  padding: 6rem 2rem;
  background-color: var(--text);
  border-radius: 2rem;
  padding-left: 4rem;

  h2 {
    color: white;
    text-align: start;
    font-size: 2.5rem;
  }
  p,div,button{
    color: rgb(255, 255, 255,0.8);
    text-align: start;
  }
  .endP{
    font-size: 0.9rem;
  }

  .faqcontainer{
    display: grid;
    grid-template-columns: 40% 60%;

  }
}
