.container{
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f4;

  .title{
    text-align: center;
    span{
      font-size: 0.8rem;
      font-weight: 900;
      color: var(--grey);
    }
    h1{
      font-size: 3rem;
      font-weight: 800;
    }
  }

  .services{
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    h2{
      font-weight: 700;
      font-size: 2rem;
    }
  }

  svg{
    width: 3rem;
    height: 3rem;
    color: var(--text);
  }

}