.container {
  background-color: var(--text);
  margin:0 2rem;
  border-radius: 3rem;
  padding: 2rem;
  z-index: 99;
  overflow: hidden;

  h1,
  h2 {
    color: rgb(255, 255, 255, 0.95);
  }
  p {
    color: rgb(255, 255, 255, 0.7);
  }

  .whyFeatureContainer {
    grid-template-columns: 60% 40%;
  }

  .headings {
    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.95rem;
    }
  }

  .pointsContainer {
    h2 {
      font-size: 1.15rem;
      font-weight: 600;
    }
  }

  .buttonDiv {
    align-self: flex-start;
    display: flex;
    background-color: var(--white);
    padding: 0.15rem 1rem;
    padding-right: 0.1rem;
    border-radius: 2rem;
    gap: 0.25rem;

    button{
      font-size: 0.95rem;
    }

    span {
      background-color: var(--text);
      color: white;
      padding: 0.5rem;
      border-radius: 50%;
      transform: rotate(-40deg);
      transition: transform 0.3s ease;
    }

    &:hover span {
      transform: rotate(0deg);
    }
  }

  .imgContainer {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      318deg,
      rgba(8, 60, 47, 1) 0%,
      rgba(189, 234, 85, 1) 81%
    );
    padding: 2rem;
    width: 23rem;
    border: 0.001rem solid rgba(189, 234, 85, 1);
    border-radius: 1rem;

    img {
      width: 23rem;
      border-radius: 1rem;
    }

    .decor {
      position: absolute;
      background-color: var(--cream);
      border-radius: 50%;
      padding: 0.5rem;
      img {
        width: 4rem;
      }
    }

    .icon1 {
      top: 2rem;
      right: -4rem;
    }
    .icon2 {
      bottom: 2rem;
      left: -4rem;
    }
  }
}
