.container {
  width: 95%;
  margin: 0rem auto;
  padding: 3rem 2rem;
  border-radius: 2rem;
  padding-left: 4rem;
  background-color: #f1f5f4;

  h2 {
    text-align: end;
    font-size: 2.5rem;
  }
  p,
  div,
  button {
    text-align: end;
  }
  .endP {
    font-size: 0.9rem;
    text-align: start;
  }
  a {
    color: var(--text);
  }

  .faqcontainer {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
