.container {
  padding: 8rem 2rem 4rem;
  text-align: center;
  background-color: var(--white);

  @media (max-width: 768px) {
    padding: 6rem 1.5rem 3rem;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.badge {
  span{
    font-weight: 800;
    font-size: 0.8rem;
    color: var(--grey);
  }
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text);
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.1rem;
  color: var(--mediumGray);
  max-width: 650px;
  margin: 0 auto;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

