.container {
  margin-top: 1rem;
  margin-bottom: 5rem;
  .titleSection {
    padding: 2rem;
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.001rem solid rgb(201, 242, 105, 0.3);
  border-radius: 2rem;
  box-shadow: 0 2px 5px rgb(8, 60, 47, 0.2);
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgb(8, 60, 47, 0.6);
  }
}

.cardInner {
  position: relative;
  height: 170px;
  border-radius: 28px;
  overflow: hidden;
  background: #fff;
}

.imgBox {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 28px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
}

.cardInner:hover img {
  transform: scale(1.1);
}

/* ===============================
   ICON INFLECTION SYSTEM
================================ */

/* Base icon container */
.icon {
  position: absolute;
  bottom: -8px;
  width: 70px;
  height: 70px;
  background: #fff;
  transition: 0.3s ease;
}

/* RIGHT SIDE */
.iconRight {
  right: -6px;
  border-top-left-radius: 50%;
}

.iconRight::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -20px;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px #fff;
}

.iconRight::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 6px;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px #fff;
}

/* LEFT SIDE */
.iconLeft {
  left: -6px;
  border-top-right-radius: 50%;
}

.iconLeft::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -20px;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 5px #fff;
}

.iconLeft::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 6px;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 5px #fff;
}

/* Actual circular icon */
.iconBox {
  position: absolute;
  inset: 12px;
  background: rgb(201, 242, 105, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 1rem;

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #666;
  }
}
