@use "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url("/fonts/popins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --cream: #f5f7fa;
  --palecream: rgb(255, 254, 248, 0.8);
  --blue: #91a6c3;
  --darkblue: #3e5c9a;
  --black: #0d0d0d;
  --grey: #4a4d4c;
  --mediumGray: #6b7280;
  --border: #e5e7eb;
  --text: #083c2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
  }
}

body {
  background: var(--white);
  color: var(--text);
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4 {
  color: var(--text);
  font-family: "satoshi", serif;
}

p {
  color: #52766d;
}

button,
img,
svg {
  cursor: pointer !important;
}

.greenBgButton {
  background-color: #083c2f;
  color: var(--white);
}

.navTitle {
  font-weight: 900;
}

.herophoneImg {
  height: 20rem;
}

.heroIconConatiner {
  box-shadow: 0px 2px 8px #e8feb6;
  background-color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 5rem;
  }
}

.getStartedBtn {
  display: flex;
  background-color: var(--text);
  padding: 0.15rem 1rem;
  padding-right: 0.1rem;
  border-radius: 2rem;
  gap: 0.25rem;
  color: white;

  button {
    font-size: 0.95rem;
  }

  span {
    background-color: var(--white);
    color: var(--text);
    padding: 0.5rem;
    border-radius: 50%;
    transform: rotate(-40deg);
    transition: transform 0.3s ease;
  }

  &:hover span {
    transform: rotate(0deg);
  }
}

@keyframes floatVertical {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

//about
.aboutHero {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 17%,
    #f6fae6 70%,
    rgba(255, 255, 255, 1) 99%
  );
}
